@font-face {
  font-family: "JetBrains Mono";
  src:
    url("../assets/fonts/jetbrains-mono/JetBrainsMono-Regular.woff2")
      format("woff2"),
    url("../assets/fonts/jetbrains-mono/JetBrainsMono-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Caslon Text";
  src:
    url("../assets/fonts/libre-caslon/LibreCaslonText-Bold.woff2")
      format("woff2"),
    url("../assets/fonts/libre-caslon/LibreCaslonText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Caslon Text";
  src:
    url("../assets/fonts/libre-caslon/LibreCaslonText-Italic.woff2")
      format("woff2"),
    url("../assets/fonts/libre-caslon/LibreCaslonText-Italic.woff")
      format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Libre Caslon Text";
  src:
    url("../assets/fonts/libre-caslon/LibreCaslonText-Regular.woff2")
      format("woff2"),
    url("../assets/fonts/libre-caslon/LibreCaslonText-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Newsreader 16pt";
  src:
    url("../assets/fonts/newsreader/Newsreader16pt-Regular.woff2")
      format("woff2"),
    url("../assets/fonts/newsreader/Newsreader16pt-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Newsreader 16pt";
  src:
    url("../assets/fonts/newsreader/Newsreader16pt-Italic.woff2")
      format("woff2"),
    url("../assets/fonts/newsreader/Newsreader16pt-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

:root {
  /* Colors */
  --color-primary-300: #20201c;
  --color-primary-400: #1c1c18;
  --color-primary-500: #131410;
  --color-primary-600: #0e0e0b;
  --color-secondary-200: #e5e2db;
  --color-secondary-300: #c0c8c7;
  --color-secondary-400: #a7cecd;
  --color-secondary-500: #8b9292;
  --color-secondary-600: #8e8d8c;
  --color-secondary-700: #6b7280;
  --color-secondary-800: #414848;
  --color-accent-500: #e9c349;
  --color-accent-900: #3c2f00;
  --color-accent-hover: #cba93e;

  /* Typography */
  --font-family-body: "Newsreader 16pt", serif;
  --font-family-heading: "Libre Caslon Text", serif;
  --font-family-mono: "JetBrains Mono", monospace;

  --font-size-2xs: 0.625rem; /* 10px */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.8125rem; /* 13px */
  --font-size-md: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.375rem; /* 22px */
  --font-size-3xl: 1.5rem; /* 24px */
  --font-size-4xl: 1.75rem; /* 28px */
  --font-size-5xl: 1.875rem; /* 30px */
  --font-size-6xl: 2rem; /* 32px */
  --font-size-7xl: 2.5rem; /* 40px */
  --font-size-8xl: 2.625rem; /* 42px */
  --font-size-9xl: 4.5rem; /* 72px */
}

/* Base font size */
html {
  font-size: 16px;
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-primary-300);
  color: var(--color-secondary-200);
  font-family: var(--font-family-body);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary-500);
  padding: 24px;
  border-bottom: 1px solid var(--color-secondary-800);
  position: relative;
}

.nav__brand {
  font-size: clamp(
    var(--font-size-xl),
    calc(var(--font-size-xl) + 10 * ((100vw - 320px) / 448)),
    var(--font-size-5xl)
  );
  font-family: var(--font-family-heading);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-secondary-200);
  font-weight: bold;
}

.nav__toggle {
  background-color: var(--color-primary-500);
  color: var(--color-secondary-200);
  border: none;
  padding: 4px 6px;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--color-accent-500);
}

.nav__toggle svg {
  width: 24px;
  fill: currentColor;
}

.nav__list {
  list-style: none;
  font-family: var(--font-family-mono);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nav__link {
  font-size: var(--font-size-3xl);
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}

.nav__item {
  padding: 0 26px;
  position: relative;
}

.nav__item:hover {
  color: var(--color-accent-500);
}

.nav__item:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 2px;
  background-color: var(--color-accent-500);
}

.nav__icon {
  background-color: transparent;
  color: var(--color-secondary-300);
  border: none;
  cursor: pointer;
}

.nav__icon:hover {
  color: var(--color-accent-500);
}

.nav__icons {
  display: flex;
  margin-left: 24px;
  gap: 24px;
}

.nav__icon svg {
  width: 24px;
  fill: currentColor;
}

.nav__body {
  display: none;
  flex-direction: column;
  gap: 32px;
  position: absolute;
  background-color: var(--color-primary-500);
  bottom: -333px;
  left: 0;
  width: 100%;
  padding: 30px 24px;
}

/* Hamburger toggle */
.nav__body.is-open {
  display: flex;
}

.nav__toggle.is-open .top {
  y: 45;
  rotate: 45deg;
}

.nav__toggle.is-open .middle {
  opacity: 0;
}

.nav__toggle.is-open .bottom {
  y: 45;
  rotate: -45deg;
}

.line {
  transform-origin: center;
}

@media (min-width: 768px) {
  .nav__toggle {
    display: none;
  }

  .nav__body {
    display: flex;
    position: static;
  }
}
