@font-face {
    font-family: 'Libre Caslon Text';
    src: url('LibreCaslonText-Bold.woff2') format('woff2'),
        url('LibreCaslonText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Caslon Text';
    src: url('LibreCaslonText-Italic.woff2') format('woff2'),
        url('LibreCaslonText-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Caslon Text';
    src: url('LibreCaslonText-Regular.woff2') format('woff2'),
        url('LibreCaslonText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

